{% extends 'base.html' %}

{% block title %}- Upload{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <form action="" method="post" enctype="multipart/form-data">
            <!-- enctype: form 태그로 작성한 정보를 어떤 형태로 인코딩 해서 서버로 전달할건지 결정하는 옵션, method="post"일 때만 사용 가능  -->
                <!-- ① multipart/form-data: 파일을 업로드할 때 사용하는 옵션, 데이터를 문자열로 인코딩하지 않고 전달한다 -->
                <!-- ② application/x-www-form-urlencoded: 기본옵션, 모든 문자열을 인코딩해 전달. 특수문자는 ASCII HEX 값으로 띄어쓰기는 +로 변환하여 전달한다 -->
                <!-- ③ text/plain: 띄어쓰기만 +로 변환하고 특별한 인코딩 없이 전달한다 -->
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value=" Upload ">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}